* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

button {
  padding: 0.3rem 1rem;
  margin-top: 1rem;
}

select,
option,
input {
  width: 200px;
}


.container {
  height: 100vh;
  padding: 0 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display__col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}